openapi: 3.0.1
info:
  title: GraphQL Sample API
  description: A sample GraphQL API specification
  version: 0.1.0
paths:
  /:
    post:
      summary: GraphQL Query Endpoint
      operationId: graphqlQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: GraphQL query string
                variables:
                  type: object
                  description: Query variables
              required:
                - query
      responses:
        '200':
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad request
servers:
  - url: http://localhost:8090
    description: Development server