openapi: 3.0.0
info:
  title: Ballerina GraphQL Service
  version: 1.0.0
servers:
  - url: /graphql
paths:
  /:
    post:
      summary: Execute GraphQL Query
      operationId: executeGraphQL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: The GraphQL query string
                  example: "query { users { name } }"
                variables:
                  type: object
                  description: Optional variables for the query
      responses:
        '200':
          description: Successful GraphQL execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: The data returned from the GraphQL query
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        locations:
                          type: array
                          items:
                            type: object
                            properties:
                              line:
                                type: integer
                              column:
                                type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message