openapi: 3.0.1
info:
  title: Ballerina GraphQL Sample
  version: 0.1.0
servers:
- url: "{server}:{port}/"
  variables:
    server:
      default: http://localhost
    port:
      default: "9090"
paths:
  /graphql:
    post:
      summary: GraphQL endpoint
      operationId: graphql
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: GraphQL query string
                variables:
                  type: object
                  description: GraphQL variables
              required:
                - query
      responses:
        "200":
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    UserDetails:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        city:
          type: string
        age:
          type: integer
          format: int32
    Query:
      type: object
      properties:
        all:
          type: array
          items:
            $ref: '#/components/schemas/UserDetails'
          description: Returns all users
        filter:
          type: object
          properties:
            id:
              type: integer
              format: int32
          description: Returns a user by ID