openapi: 3.0.1
info:
  title: Ballerina GraphQL Sample
  version: 0.1.0
servers:
- url: "{server}:{port}/"
  variables:
    server:
      default: http://localhost
    port:
      default: "9090"
paths:
  /graphql:
    post:
      summary: GraphQL endpoint
      operationId: graphqlQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
      responses:
        "200":
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                type: object